<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Feedback App</title>
</head>

<body>

    <div class="container">
        <h1>AI Feedback Genie</h1>
        <p class="head-text">I analyze your feedback, generate insightful responses, and bring them to life with my
            voice!</p>
        <form method="POST">
            <label for="feedback">Enter your feedback:</label><br>
            <textarea name="feedback" id="feedback" placeholder="Your feedback here..." required></textarea><br>
            <button type="submit">Submit Feedback</button>
        </form>

        {% if sentiment %}
        <div class="response">
            <h3>🔮 Emotional Pulse</h3>
            <p><strong>Feedback:</strong> {{ feedback }}</p>

            <div class="sentiment-box">
                {% if sentiment['sentiment'] == 'positive' %}
                <p class="positive"><strong>Sentiment:</strong> Positive 😊 </p>
                {% elif sentiment['sentiment'] == 'neutral' %}
                <p class="neutral"><strong>Sentiment:</strong> Neutral 😐 </p>
                {% else %}
                <p class="negative"><strong>Sentiment:</strong> Negative 😢 </p>
                {% endif %}
            </div>
            <p><span>🌟 Positive Score:</span> {{ sentiment['positive_score'] }}</p>
            <p><span>⚖️ Neutral Score:</span> {{ sentiment['neutral_score'] }}</p>
            <p><span>🔥 Negative Score:</span> {{ sentiment['negative_score'] }}</p>

        </div>

        {% if ai_response %}
        <div
            class="ai-response {{ 'positive' if sentiment['sentiment'] == 'positive' else 'negative' if sentiment['sentiment'] == 'negative' else 'neutral' }}">
            <h3>Genie Speaks:</h3>
            <p>{{ ai_response }}</p>
            {% if audio_filename %}
            <audio id="audioPlayer" controls>
                <source src="{{ url_for('download_audio', filename=audio_filename) }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            {% endif %}
        </div>
        {% endif %}
        {% endif %}
    </div>

</body>

</html>